:root {
  /* Backgrounds: Light Gray or Teal for freshness. */
  --BackgroundColor1: #00bfa6;
  --BackgroundColor2: #f4f4f4;
  /* Logos and Headers: Electric Blue as the dominant color with Bright Yellow accents. */
  --HeaderFontColor: #007bff;
  --HeaderFontColor2: #ffd700;
  /* Buttons/Call-to-Actions: Deep Purple for visibility. */
  --BackgroundColor3: #6a0dad;
}

::-webkit-scrollbar {
  width: 0.8rem;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #00bfa6;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ffd700;
}
::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

html {
  scroll-behavior: smooth !important;
}
/*Utilities*/
.border-none {
  border: none !important;
}
.focus-none {
  box-shadow: none !important
}
.button-bgc {
  background-color: var(--BackgroundColor3) !important;
}
.bgc1 {
  background-color: var(--BackgroundColor1);
}
.bgc2 {
  background-color: var(--BackgroundColor2);
}
.HeaderFontColor1 {
  color: var(--HeaderFontColor) !important;
}
.section-number {
  font-size: 4rem;
}
.section-title {
  font-size: 3rem;
}
.first-char {
  color: var(--BackgroundColor1);
}

.data-section {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 100vh;
}
.logoIcon {
  width: 1.5rem;
  margin: 0.5rem;
}

.transparent-nav{
  background-color: transparent !important;

}
.navbar-nav a {
  color: #f4f4f4;
  text-shadow: 0px 0px 3px black;
  font-weight: bold;
  font-size: 1.3rem;
}
.navbar-nav a:hover {
  color: #ffd700;
  text-shadow: 0px 0px 10px #ffd700;
}
.navbar.scrolled {

  color: #007bff;
  background-color: #333232;
  .navbar-nav a:hover {
    color: #ffd700;
    text-shadow: 0px 0px 10px #ffd700;
  }
}
.nav-logo{
  transition: 1s;
}
.nav-logo:hover{
  border-radius: 5px;
  border: 1px solid #ffd700;
  box-shadow: 0 0 10px #00bfa6;
  transform: scale(1.5);
}
.custom-toggler{
  border: 1px solid #f4f4f4 !important;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns%3D%22http://www.w3.org/2000/svg%22 viewBox%3D%220 0 30 30%22%3E%3Cpath stroke%3D%22%23fff%22 stroke-width%3D%222%22 d%3D%22M4 7h22M4 15h22M4 23h22%22/%3E%3C/svg%3E'); /* Example: White lines */
}
.custom-toggler:hover{
  border: 1px solid #ffd700 !important;
}
.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns%3D%22http://www.w3.org/2000/svg%22 viewBox%3D%220 0 30 30%22%3E%3Cpath stroke%3D%22%23007bff%22 stroke-width%3D%222%22 d%3D%22M4 7h22M4 15h22M4 23h22%22/%3E%3C/svg%3E'); /* Example: Blue lines */
}
@media only screen and (max-width : 600px) {
  #slid-imges{
    top: 3.7rem;
  }
  .transparent-nav{
    background-color: #333232 !important;
  }
}

/* ********** */
.menu-btn {
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  background: #040f16;
  align-items: center;
  justify-content: space-around;
  color: #f5f5f5 !important;
}
.cls-button{
  position: absolute;
  display: none;
}

.opn-button{
  position: absolute;
}

.menu-btn:hover {
  box-shadow: 0 0 10px 0px #ffd700 !important;
}

.menu-btn .icon {
  position: relative;
  width: 70px;
  height: 40px;
  display: flex;
  align-items: center;
  transition: all 0.5s;
  justify-content: center;
}


.menu-btn:hover .icon {
  transform: scale(1.5);
  transition: 0.5s;
  .ctm{
    stroke :#ffd700;
    fill: #ffd700;
  }
}

.menu-btn:focus {
  outline: none;
}

/* ********** */
#silder,
.carousel-inner {
  max-height: 100vh;
  aspect-ratio: 16 / 9; 
}
.slider-btn{
  display: inline-block;
  width: 60px;
  height: 60px;
  transition: 0.5s;
  border-radius: 50%;
  background-color: #00bfa6 !important;
}
.slider-btn:hover{
  transform: scale(1.5);
  box-shadow: 0  0 10px #ffd700;
  background-color: #ffd700 !important;
}
.indicators-btn{
  border-radius: 10px;
  background-color: black !important;
}
.indicators-btn:hover{
  background-color: #ffd700 !important;
}
/* Services */
.icon-span {
  font-size: 2.5rem;
  color: var(--BackgroundColor1);
}
.service-box {
  border-radius: 1rem;
  margin: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: var(--BackgroundColor2);
}
.service-box:hover{
  box-shadow: 0 0 2rem #ffd700;
  .icon-span{
    color: #ffd700;
    animation: spin 2s;
  }
}

.about-us-img{
  border-radius: 0.5rem;
}

.team-img {
  border-radius: 1rem;
}
.team-member {
  overflow: hidden;
  position: relative;
  margin: 1rem;
}

.team-des {
  border-radius: 1rem;
  background-color: rgba(00, 00, 00, 0.6);
  position: absolute;
  color: #ffffff;
  opacity: 0;
  max-width: 500px;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.4s ease-in-out;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.team-des:hover {
  opacity: 1;
}

.social-icon {
  padding: 0;
  margin: 0;
}
.social-icon li {
  list-style: none;
  display: inline-block;
  padding: 6px;
}
.social-icon li a {
    font-size: 2rem;
    width: 56px;
    height: 56px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    color: #f4f4f4;
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.09);
}
.social-icon li a:hover {
  color: #ffd700;
}
/* Plan */
.plan-item{
  margin: 1rem;
  padding: 1rem;
  display: flex;
  height: 100%;
  border-radius: 1.5rem;
  flex-direction: column;
  background-color: #f4f4f4;
  
}
.plan-item:hover{
  box-shadow: 0 0 2rem #ffd700;
  .plan-icon{
    color: #ffd700;
  }
}
.plan-list{
  margin: 1.5rem;
  font-size: 1.1rem;
  list-style: none;
  display: block;
  padding: 6px;
}
.plan-icon{
  font-size: 5rem;
  color: #00bfa6;

}
.plan-price{
  display: inline-block;
  font-size: 4rem;
}
.plan-item span{
  font-weight: bold;
}
.buy-plan{
  padding: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  font-weight: bold;
  border-radius: 1rem;
  border: 2px solid #00bfa6;
  margin-top: auto;
  text-align: center; 
}
.buy-plan:hover{
  transition: 0.7s;
  color: #ffd700;
  background-color: #6a0dad;
  border: 4px solid #ffd700;
}
.contact-icon{
  margin: 1rem;
  font-size: 3rem;
  color: #00bfa6;
  transition: 0.5s;
}
.contact-icon:hover{
  color: #ffd700;
  animation: spin 2s;
}
@keyframes spin {
  0%{
    transform: rotate(0deg) scale(1);
  }
  50%{
    transform: rotate(360deg) scale(1.5) ;
  }
  100%{
    transform: rotate(0deg) scale(1);
  }
}
.contact-data a{
  text-decoration: none;
}
.contact-item:hover{
  .contact-icon{
    color: #ffd700;
   
  }
}
.add-mrg{
  margin-top: 1rem;
}
.copyRights {
  font-size: 1.2rem;
  text-align: center;
}